.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0px;
    padding: 0px;
}

.colonna1{
  width: 3000px;
  -ms-flex-item-align: baseline;
  height: 2000px;
  background-color: red;
}
.colonna2{
  -ms-flex-item-align: baseline;
  width: 3000px;
  padding: 0px;
  height: 2000px;
  background-color: beige;
}
.immagine img {
  width: 150px;
  height: 150px;
}
.lavori {
  font-weight:bold;
}
.contenitore3{
  background-color: red;
